<footer>
	<div class="footer-content">
		<div class="footer-content__about-us">
			<div class="about-us__header">
				about us
			</div>
			<div class="about-us__text"> 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores rem minima deleniti doloribus, corporis exercitationem sapiente in deserunt placeat dignissimos.
			</div>
			<div class="about-us__social">
				<div class="social__facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></div>
				<div class="social__twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></div>
				<div class="social__google-plus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></div>
			</div>
		</div>
		<div class="footer-content__our-address">
			<div class="our-address__header">
				our address
			</div>
			<div class="our-address__phone">
				<i class="phone__fa fa fa-phone"></i>
				<span class="our-address__text--accent">+38-(093)-213-214</span>
			</div>
			<div class="our-address__mail">
				<i class="mail__fa fa fa-envelope-o"></i>
				<span class="our-address__text--accent">info@yourdomain.com</span>
			</div>
			<div class="our-address__address ">
				<i class="address__fa fa fa-map-marker"></i>
				<span class="our-address__text--accent">	st. Great Northern 12, Kyiv, Ukraine, 11300</span>
			</div>
		</div>
		<div class="footer-content__map">
			<div class="map__header">
				we are on the map
			</div>
			<div class="map__google-maps-api">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.655362590136!2d30.455896356918352!3d50.44751976166916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc2772332c63%3A0xe8225bab52a53a3e!2z0J_QsNC80Y_RgtC90LjQuiDQqNCw0YDQtQ!5e0!3m2!1sru!2sua!4v1512401602210" width="280" height="200" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="bottom__copyright">
			<p>&copy; 2017 All rights reserved</p>
		</div>
		<div class="bottom__logo">
			<img src="img/logo.png" alt="Hotel Locanda"/>
		</div>
	</div>
</footer>
