main
	.first-section
		background: url(../img/backgrounds/bg2.jpg) no-repeat center center fixed
		background-attachment: scroll
		background-size: cover
		height: 62vh
		position: relative
		border-top: 1px solid $accent
		display: flex
		flex-direction: column
		.enjoy-us-wrapper
			margin: auto
			.enjoy-us
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center
				padding: 1rem 0
				// margin-top: 2rem
				background-color: rgba(43, 30, 40, .8)
				&__header, &__text
					text-align: center
					font-style: normal
					color: #fff
					
				&__header
					text-transform: uppercase
					font-weight: normal
					font-size: 3rem
					font-family: Conduit
					
					
				&__text
					margin-top: 1rem
					font-weight: 200
					line-height: 1.5rem


			.enjoy-us__button
				margin: auto
				margin-top: 2rem
		
	.find-room
		background-color: $middlePurple
		// margin-top: 2rem
		border-bottom: 2px solid $accent
		form
			// display: flex
			// justify-content: space-around
			padding-top: 1rem
			margin: 0 auto
			.find-room__date-info
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				p
					color: #fff
					margin: .5rem


				input[type="date"]
					padding: .5rem 1rem
					color: 

			.find-room__quantity-info
				
				display: flex
				justify-content: space-evenly
				flex-direction: column
				align-items: center
				.guests-quantity-header
					color: #fff
					margin: .5rem
					text-align: center

				.guests-quantity-input
					input[type="number"]
						width: 7rem
						padding: .6rem
				

			.find-room__check-availability
				.check-availability__button
					margin: auto
					margin-top: 2rem
					margin-bottom: 2rem

	.second-section
		background-color: $lightGray
		.conveniences
			padding-top: 3rem
			&__header
				text-transform: uppercase
				color: $middlePurple
				font-family: Conduit
				padding: 0 1rem 1rem 1rem
				font-size: 2.5rem
				white-space: nowrap

			&__content
				display: flex
				flex-wrap: wrap
				align-items: center
				justify-content: center
				.service
					// margin-top: 1rem
					padding: 1rem
					margin-bottom: 3rem
					display: flex
					flex-direction: column
					align-items: center
					&:hover
						cursor: pointer
						transition: all .4s ease
						.service
							&__info
								.service-header
									color: $accent
								.service-more-info
									.fa-more-info
										color: $accent
					&__image
						img
							width: 100%
							height: 180px
							max-width: 280px
						
					&__info
						background-color: #FFF
						width: 100%
						max-width: 280px
						display: flex
						flex-direction: column
						align-items: center
						.service
							&-header
								padding: 1rem 1rem 0 1rem
								font-family: Conduit
								color: $lightPurple
								font-size: 2rem
								white-space: nowrap
							&-more-info
								color: $lightPurple
								font-size: 3rem
								position: relative
								top: 1.6rem
								.fa-more-info
									background: linear-gradient(to top, $lightGray 0%,  #fff 100%)
									&:hover
										color: $accent
										cursor: pointer
										transition: all .5s ease

	.third-section
		.reason-to-stay
			display: flex
			flex-direction: column
			padding: 1rem
			&__text
				.reason__header
					text-transform: uppercase
					color: $middlePurple
					font-size: 2rem
					font-family: Conduit
					white-space: nowrap
					&--accent-text
						color: $accent
				.reason__text
					margin: 1rem 0
					line-height: 1.5rem
			&__button
				display: flex
				margin: auto

	.fourth-section
		background-color: $lightGray
		.accomodation
			
			&__header
				padding: 1rem
				.header__text
					text-transform: uppercase
					font-family: Conduit
					font-size: 2.5rem
					color: $middlePurple

			&__wrapper
				display: flex
				flex-wrap: wrap
				align-items: center
				justify-content: center
				.room
					padding: 1rem 1rem 3rem 1rem
					display: flex
					flex-direction: column
					font-family: Conduit
					// max-width: 280px
					&__photo
						
						margin: auto
						img
							width: 100%
							height: 180px
							max-width: 280px
							

					&__name
						padding: 1rem
						background-color: #FFF
						max-width: 280px
						.room__name--purple-big
							color: $middlePurple
							font-size: 1.8rem
							padding-bottom: .5rem
							text-decoration: none
						// .slide-border
						// 	position: relative
						// 	display: inline-block
						// 	&:before
						// 		content: ''
						// 		width: 50%
						// 		height: 2px
						// 		background: $accent
						// 		position: absolute
						// 		left: 0
						// 		bottom: 0
						// 		-webkit-transition: all 0.3s ease-out
						// 		transition: all 0.3s ease-out
						// 	&:hover:before
						// 		width: 100%
						// 	&:hover
						// 		cursor: pointer
					&__description
						background-color: #FFF
						padding: 0 1rem 1rem 1rem
						line-height: 1.5rem
						max-width: 280px
						.room__description--purple
							span
								color: $lightPurple

	.fifth-section
		background-color: $darkPurple
		border-bottom: 2px solid $accent
		.achivements
			padding: 1rem
			&__header
				padding-top: 3rem
				text-transform: uppercase
				color: #fff
				font-size: 2.5rem
				font-family: Conduit
				text-align: center
			&__content
				display: flex
				flex-wrap: wrap
				align-items: center
				justify-content: center
				padding-bottom: 3rem
				.achivement-item--square
					width: 150px
					height: 150px
					margin: auto
					overflow: hidden
					border: 2px solid $accent
				.achivement-item
					margin: 3rem 3rem 0 3rem
					color: #fff
					font-family: Roboto
					letter-spacing: .2rem
					&:hover
						background-color: $accent
						cursor: pointer
						transition: all .5s ease
						.achivement-triangle
							border-bottom: 20px solid $darkPurple
					&__numbers
						text-align: center
						line-height: 6rem
						font-weight: bold
						font-size: 2rem
						.achivement-value

					&__kind
						text-align: center

					.achivement-triangle
						float: right
						margin-top: .55rem
						margin-right: 0.3rem
						width: 0
						height: 0
						border-bottom: 20px solid $accent
						border-left: 20px solid transparent

	.sixth-section
		background-color: $lightGray
		.news
			padding: 1rem
			&__header
				text-transform: uppercase
				color: $middlePurple
				font-family: Conduit
				padding: 2rem 0 1rem 0
				font-size: 2.5rem
				white-space: nowrap
				margin-bottom: 1rem

			&__content
				display: flex
				flex-wrap: wrap
				align-items: center
				justify-content: center
				.news-item
					font-family: Conduit
					background-color: #FFF
					padding: 1rem
					margin: 0 0 2rem 0
					max-width: 340px
					height: 300px
					overflow: auto
					&__date
						color: $lightPurple
						margin-bottom: 1rem
						font-size: 1rem
						text-transform: uppercase
					&__header
						font-size: 2rem
						color: $middlePurple
						margin-bottom: 1rem
						text-align: left
						padding-bottom: .5rem
						&:hover
							color: $accent
							transition: all .5s ease
					&__text
						color: $lightPurple
						line-height: 1.5rem

