//@import "../../vars"

@media only screen and (max-width : 900px)
	/**/
	header


@media only screen and (min-width : 480px)
	main
		.reservation-main
			&__filtering
			.filtering
				&__header
					p
						text-align: left
						margin: 1rem
				&__content
					form
						.filter
							&-fileds
								justify-content: flex-start
								.field-from, .field-to
									margin: 0 1rem
							&-buttons
								justify-content: flex-start



						


@media only screen and (min-width : 901px)
	header

	main

	footer


// @media only screen and (min-width : 1200px)
