@import "vars"

/*==========  Desktop First  ==========*/

/* Extr-Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/


/* Large Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
	

/* Medium Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Small Devices, Phones */
@media only screen and (min-width : 576px)
	/**/
		

/* Extra-Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

	

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/




	/* Custom */
@media only screen and (max-width : 900px)
	/**/
	header
		.page-header
			&__logo-menu-wrapper
				.logo-menu-wrapper__logo

				.desktop-menu-wrapper
					display: none

		.social, .page-header__button

			display: none


@media only screen and (min-width : 700px)
	main
		.first-section
		.find-room
			form
				.find-room__date-info
					flex-direction: row
					justify-content: center
					align-items: center
					.arrival-date, .departure-date
						p
							margin-left: 3rem
						input[type="date"]
							margin-right: 1rem

				.find-room__quantity-info
					justify-content: center
					.guests-quantity-input
						input[type="number"]
							margin-right: 1rem

		.third-section
			.reason-to-stay
				flex-direction: row
		.fifth-section
			.achivements
				&__header
					font-size: 3.5rem
		.sixth-section
			.news
				&__content
					.news-item
						margin: 0 1rem 2rem 1rem

	footer
		.footer-bottom
			flex-direction: row
			justify-content: space-around
				

@media only screen and (min-width : 901px)
	header
		.page-header
			display: flex
			flex-direction: column-reverse
			&__logo-menu-wrapper
				padding: .5rem
				border: none
				.logo-menu-wrapper__logo
					img
						max-width: 120px
			.logo-menu-wrapper__mobile-menu-button
				display: none
		.communications
			display: flex
			justify-content: space-around
			border-bottom: 1px solid #3d303a
	main
		.first-section
		.find-room
			form
				display: flex
				align-items: end
				justify-content: space-evenly
				.find-room__date-info
					flex-direction: row
					justify-content: center
					align-items: center
					margin-left: 2rem
					.arrival-date, .departure-date
						p
							margin-left: 1rem
						input[type="date"]
							margin-right: 1rem

				.find-room__quantity-info
					justify-content: center
					.guests-quantity-input
						display: flex
					.guests-quantity-header
						padding: 0

		.third-section
			.reason-to-stay
				justify-content: space-evenly
				align-items: center
				&__text
					.reason__header
						font-size: 2.5rem
				&__button
					margin: 0

		// .sixth-section
		// 	.news
		// 		&__content
		// 			.news-item
		// 				margin: 0 2rem 2rem 2rem

	footer
		.footer-content
			justify-content: space-evenly

// @media only screen and (min-width : 1200px)
