.button--primary
	display: block
	text-align: center
	background-color: $accent
	color: #fff
	border: 2px solid transparent
	text-decoration: none
	outline: none
	&:hover
		background-color: #fff
		color: $lightPurple
		border: 2px solid $accent
		text-decoration: none
		transition: all .5s ease
	&:focus
		text-decoration: none
		color: #fff
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

// .find-room
// 	&-big
// 		padding: 1.3rem 5.2rem
// 	&-round
// 		border-radius: 40px
// 	&-button-text
// 		font-size: 1.2rem
// 	&-fa
// 		font-size: 1.2rem
// 		transform: rotate(90deg)
// 		margin-left: .5rem

.button--secondary
	display: block
	border: 2px solid $accent
	color: $lightPurple
	background-color: #fff
	text-decoration: none
	outline: none
	&:hover
		text-decoration: none
		color: #fff
		background-color: $accent
		transition: all .5s ease
		border: 2px solid transparent

.page-header-button
	text-transform: uppercase
	padding: 1rem 3rem
	letter-spacing: 1px
	border-radius: 5px
