.button--primary
	display: block
	text-align: center
	background-color: $accent
	color: #fff
	border: 2px solid transparent
	text-decoration: none
	outline: none
	&:hover
		background-color: transparent
		color: $accent
		border: 2px solid $accent
		text-decoration: none
		transition: all .5s ease
	&:focus
		text-decoration: none
		color: $accent
		background-color: transparent
		border: 2px solid $accent
		&::after
			opacity: .22
	&:active
		background-color: transparent
		&::after
			opacity: .32

.button--secondary
	display: block
	border: 2px solid $accent
	color: $lightPurple
	background-color: #fff
	text-decoration: none
	outline: none
	&:hover
		text-decoration: none
		color: #fff
		background-color: $accent
		transition: all .5s ease
		border: 2px solid transparent

.page-header__button
	text-transform: uppercase
	padding: 1rem 3rem
	letter-spacing: 1px

.enjoy-us__button
	text-transform: uppercase
	padding: 1rem 4rem

.check-availability__button

	text-transform: uppercase
	padding: .75rem 2rem
	white-space: nowrap

.book-now__button
	text-transform: uppercase
	padding: 1rem 4rem
	white-space: nowrap